body{
    background: url(https://images2.alphacoders.com/601/601078.jpg);
    background-size: 100%;
}

h1 {
    font-size: 65px;
    color: azure;
    background-color: rgb(0, 0, 133);
}

.question{
    font-size: 20px;
    font-weight: 700;
}

.btn{
    margin: 15px;
    border-radius: 12px;
}

.radio-inline{
    margin-left: 10px;
    padding: 10px;
}

#time-remaining{
    font-size: 22px;
}

#main-card{
    background-color: rgb(207, 207, 207);
}

#start-btn{
    margin: 30%;
    width: 20%;
    height: 50px;
    background-color: rgb(0, 0, 133);
}
#submit-btn{
    margin: 3%;
    width: 20%;
    height: 50px;
    background-color: rgb(0, 0, 133);
}

#score-container{
    margin: 20%;
    font-size: 45px;
}